<div class="row feature_box">

	<div class="span4">
		<div class="service">
			<div class="responsive">
				<img src="../themes/images/feature_img_2.png" alt="" />
				<h4>Thiết kế <strong>Hiện đại</strong></h4>
				<p>Trang phục được thiết kế với tầm nhìn mới mẻ, thời thượng và hiện đại.</p>
			</div>
		</div>
	</div>
	<div class="span4">
		<div class="service">
			<div class="customize">
				<img src="../themes/images/feature_img_1.png" alt="" />
				<h4>Vận chuyển <strong>Miễn phí</strong></h4>
				<p>Dịch vụ giao hàng hoàn hảo và hoàn toàn miễn phí.</p>
			</div>
		</div>
	</div>
	<div class="span4">
		<div class="service">
			<div class="support">
				<img src="../themes/images/feature_img_3.png" alt="" />
				<h4>Hỗ trợ trực tuyến <strong>24/24</strong></h4>
				<p>Đội ngũ tư vấn viên nhiệt tình, tận tâm và luôn phục vụ bạn 24/24.</p>
			</div>
		</div>
	</div>
</div>