            <section class="our_client">
				<h4 class="title"><span class="text">Đơn vị vận chuyển</span></h4>
				<div class="row">					
					<div class="span2">
						<a href="#"><img alt="" src="../themes/images/clients/14.png"></a>
					</div>
					<div class="span2">
						<a href="#"><img alt="" src="../themes/images/clients/35.png"></a>
					</div>
					<div class="span2">
						<a href="#"><img alt="" src="../themes/images/clients/1.png"></a>
					</div>
					<div class="span2">
						<a href="#"><img alt="" src="../themes/images/clients/2.png"></a>
					</div>
					<div class="span2">
						<a href="#"><img alt="" src="../themes/images/clients/3.png"></a>
					</div>
					<div class="span2">
						<a href="#"><img alt="" src="../themes/images/clients/4.png"></a>
					</div>
				</div>
			</section>
			<section id="footer-bar">
				<div class="row">
					<div class="span3">
						<h4>Bạn muốn đến</h4>
						<ul class="nav">
							<li><a href="./index.html">Trang chủ</a></li>  
							<li><a href="./contact.html">Liên hệ chúng tôi</a></li>
							<li><a href="./cart.html">Giỏ hàng của bạn</a></li>
							<li><a href="./register.html">Đăng nhập</a></li>							
						</ul>					
					</div>
					<div class="span4">
						<h4>Hỗ trợ khách hàng</h4>
						<ul class="nav">
							<li><a href="#">Tư vấn trả góp</a></li>
							<li><a href="#">Tư vấn mua hàng</a></li>
							<li><a href="#">Tư vấn đặt hàng</a></li>
							<li><a href="#">Tư vấn thanh toán</a></li>
						</ul>
					</div>
					<div class="span5">
						<p class="logo"><img src="../themes/images/logo.png" class="site_logo" alt=""></p>
						<p>Hãy mua hàng sắm theo sở thích và đam mê của bạn. Đừng quên giới thiệu bạn bè, người thân để ủng hộ chúng tôi, cảm ơn quý khách.</p>
						<br/>
						<span class="social_icons">
							<a class="facebook" href="#">Facebook</a>
							<a class="twitter" href="#">Twitter</a>
							<a class="skype" href="#">Skype</a>
							<a class="vimeo" href="#">Vimeo</a>
						</span>
					</div>					
				</div>	
			</section>
			<section id="copyright">
				<span>Mail: kudothiago199@gmail.com Phone:0976930983</span>
			</section>