<section class="navbar main-menu">
				<div class="navbar-inner main-menu">				
					<a href="/" class="logo pull-left"><img src="../themes/images/logo.png" class="site_logo" alt=""></a>
					<nav id="menu" class="pull-right">
						<ul>
							<li><a href="/">Nữ</a>					
								<ul>
									<li><a href="/classify/trangphucnu">Trang phục</a></li>									
									<li><a href="/classify/trangsucnu">Trang sức</a></li>
									<li><a href="/classify/giaynu">Giày</a></li>									
								</ul>
							</li>															
							<li><a href="/">Nam</a>	
								<ul>
									<li><a href="/classify/trangphucnam">Trang phục</a></li>									
									<li><a href="/classify/trangsucnam">Trang sức</a></li>
									<li><a href="/classify/giaynam">Giày</a></li>									
								</ul>	
							</li>	
							<li><a href="/">Thể thao</a>
								<ul>									
									<li><a href="/classify/thethaomuahe">Mùa hè</a></li>
									<li><a href="/classify/thethaomuadong">Mùa đông</a></li>
								</ul>
							</li>							
							<li><a href="/">Hãng sản xuất</a>
								<ul>									
									<li><a href="/classify/Prada">Prada</a></li>
									<li><a href="/classify/Salvatoreferragamo">Salvatore ferragamo</a></li>
									<li><a href="/classify/Fendi">Fendi</a></li>
									<li><a href="/classify/Givenchy">Givenchy</a></li>
								</ul>
							</li>
							<li><a href="/classify/banchaynhat">Bán chạy nhất</a></li>
						</ul>
					</nav>
				</div>
			</section>