<div id="top-bar" class="container">
			<div class="row">
				<div class="span4">
					<form action="/classify/search" class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
						<div class="input-group">
							<input type="search" name="term" class="form-control" placeholder="Quần,áo,giày,trang sức,...." aria-label="Search" >							
							<input type="submit" class="btn btn-primary" value="Tìm kiếm">							
						</div>
        			</form>
				</div>
				
				<div class="span8">
					<div class="account pull-right">
						<ul class="user-menu">				
							<li><a href="#" ><img src="../themes/images/admin.jpg" class="bg2" />Tài khoản</a></li>
							<li>
								<a href="/shopping-cart" ><img src="../themes/images/cart.png" class="bg2" />
								Giỏ hàng
									<span class="badge">{{session.cart.totalQty}}</span>
								</a>
							</li>
								
                            {{# if login}}
								<li><a href="/user/profile" >Lich sử mua hàng</a></li>
                                <li><a href="/" >Chào mừng quý khách</a></li>	
							    <li><a href="/user/logout" >Đăng xuất</a></li>
                                {{else}}
                                <li><a href="/user/signup" >Đăng ký</a></li>	
							    <li><a href="/user/signin" >Đăng nhập</a></li>
                            {{/if}}												
						</ul>
					</div>
				</div>
			</div>
		</div>