<div id="top-bar" class="container">
			<div class="row">
				<div class="span4">
					<form method="POST" class="search_form">
						<input type="text" class="input-block-level search-query" Placeholder="">
					</form>
				</div>
				<div class="span8">
					<div class="account pull-right">
						<ul class="user-menu">				
							<li><a href="#" >Tài khoản</a></li>
							<li><a href="/" >Giỏ hàng</a></li>
							<li><a href="/" >Kiểm tra</a></li>	
                            {{# if login}}
                                <li><a href="/" >Chào mừng quý khách</a></li>	
							    <li><a href="/user/logout" >Đăng xuất</a></li>
                                {{else}}
                                <li><a href="/user/signup" >Đăng ký</a></li>	
							    <li><a href="/user/signin" >Đăng nhập</a></li>
                            {{/if}}												
						</ul>
					</div>
				</div>
			</div>
		</div>