<section class="header_text">
				Bạn là người đam mê mua sắm, bạn thích phong cách trưởng thành, chững chạc hay phong cách cá tính 
				<br/>Hãy đến với chúng tôi, chúng tôi có cả thiên đường cho bạn lựa chọn, thỏa sức với phong cách của bản thân
			</section>