<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h1>Lịch sử mua sắm của bạn</h1>
        <hr>
        <h2>Đơn hàng của bạn</h2>
        {{# each orders}}
        <div class="panel panel-default">
              <div class="panel-body">                   
                   <ul class="list-group">
                       {{# each this.items}}
                       <li class="list-group-item">
                           <span class="badge">{{ this.price }}</span>
                           {{ this.item.title}} | {{ this.qty }} Số lượng
                           Item 1
                       </li>
                       {{/each}}                    
                   </ul>                   
              </div>
              <div class="panel-footer">
                  <strong>Tổng tiền: ${{ this.cart.totalPrice}}</strong> 
                </div>
        </div>  
        {{/each}}    
    </div>
</div>