<section class="header_text sub">
    <img class="pageBanner bg1" src="../themes/images/pageBanner.png" alt="New products" >   
</section>
<section class="main-content body1">
    <div class="row">
        <div class="span1"></div>
        <div class="span4">
            <div class="row">
                <h4 class="title">                           
                    <a class="left button" href="#myCarousel" data-slide="prev"></a><a class="right button" href="#myCarousel" data-slide="next"></a>               
                </h4>
                <div id="myCarousel" class="myCarousel carousel slide">
                    <div class="carousel-inner">
                        <div class="active item">
                            <ul class="thumbnails">
                                <div class="product-box">
                                    <p><a href="product_detail.html"><img src="../themes/images/ladies/4.jpg" alt="" /></a></p>
                                </div>
                            </ul>
                        </div>
                        <div class="item">
                            <ul class="thumbnails">
                                <div class="product-box">
                                    <p><a href="product_detail.html"><img src="../themes/images/ladies/5.jpg" alt="" /></a></p>
                                </div>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="span4">
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <h2 class="bg3"><i>Trang phục nam</i></h2>
                    <br/>
                    <p class="bg4"><img src="../themes/images/logo1.jpg" class="bg2" /><i>  Đẹp, độc đáo, hấp dẫn người đọc </i></p>  
                    <h5>Đặc điểm sản phẩm: <br/> &ensp;  Chất liệu vải mát mẻ, bó sát thân người. Thoải mái khi tham gia hoạt động thể thao </h5>
                    <hr  width="100%" align="center" />           
                    <h3 class="bg5">Giá : 10.000vnđ</h3>
                    <hr  width="100%" align="center" />
                    <h5>Khuyến mãi: <br/>  <p class="bg6"><i>Voucher giảm 15k khi thanh toán thông qua ví momo, giảm 5$ khi mua 10 sản phẩm trở lên</i></p></h5>
                    <br />
                    <br />
                    <hr  width="100%" align="center" />
                    <button type="submit" class="bg7"> Thêm vào giỏ hàng</button>
                </div>
            </div>
        </div>
        <div class="span2">
            <p><i>Tùy chọn giao hàng</i></p>
            <p><img src="../themes/images/vitri.jpg" class="bg2" />   Hồ Chí Minh,Quận 1,Phường Phạm Ngũ Lão</p>             
            <p><img src="../themes/images/giaohang.png" class="bg2" />   Giao hàng tiêu chuẩn(5-7ngày)    11.000đ</p>           
            <p><img src="../themes/images/tien.png" class="bg2" />   Thanh toán khi nhận hàng. (Không được đồng kiểm)</p>
            <br />
            <hr  width="100%" align="center" /> 
            <p><i>Đổi trả và Bảo hành</i></p>
            <p><img src="../themes/images/luachon.png" class="bg2" />   100% Chính hãng</p> 
            <p><img src="../themes/images/luachon.png" class="bg2" />   15 ngày trả hàng(được đổi trả với lý do không vừa ý)</p> 
            <p><img src="../themes/images/khongbaohanh.jpg" class="bg2" />   Không áp dụng chính sách bảo hành</p>       
        </div>
        <div class="span1"></div>
    </div>
     <hr  width="100%" align="center" /> 
    <div class="row">
                <div class="span12">
                    <h4 class="title">
                        <span class="pull-left"><span class="text"><span class="line">Sản phẩm <strong>liên quan</strong></span></span></span>
                        <span class="pull-right">
                        <a class="left button" href="#myCarousel_lq" data-slide="prev"></a><a class="right button" href="#myCarousel_lq" data-slide="next"></a>
                        </span>
                    </h4>
                    <div id="myCarousel_lq" class="myCarousel carousel slide">
                        <div class="carousel-inner">
                            <div class="active item">
                                <ul class="thumbnails">
                                    <li class="span3">
                                        <div class="product-box">
                                            <span class="sale_tag"></span>
                                            <p><a href="product_detail.html"><img src="../themes/images/ladies/1.jpg" alt="" /></a></p>
                                            <a href="product_detail.html" class="title">Ut wisi enim ad</a><br/>
                                            <a href="products.html" class="category">Commodo consequat</a>
                                            <p class="price">$17.25</p>
                                        </div>
                                    </li>
                                    <li class="span3">
                                        <div class="product-box">
                                            <span class="sale_tag"></span>
                                            <p><a href="product_detail.html"><img src="../themes/images/ladies/2.jpg" alt="" /></a></p>
                                            <a href="product_detail.html" class="title">Quis nostrud exerci tation</a><br/>
                                            <a href="products.html" class="category">Quis nostrud</a>
                                            <p class="price">$32.50</p>
                                        </div>
                                    </li>
                                    <li class="span3">
                                        <div class="product-box">
                                            <p><a href="product_detail.html"><img src="../themes/images/ladies/3.jpg" alt="" /></a></p>
                                            <a href="product_detail.html" class="title">Know exactly turned</a><br/>
                                            <a href="products.html" class="category">Quis nostrud</a>
                                            <p class="price">$14.20</p>
                                        </div>
                                    </li>
                                    <li class="span3">
                                        <div class="product-box">
                                            <p><a href="product_detail.html"><img src="../themes/images/ladies/4.jpg" alt="" /></a></p>
                                            <a href="product_detail.html" class="title">You think fast</a><br/>
                                            <a href="products.html" class="category">World once</a>
                                            <p class="price">$31.45</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="item">
                                <ul class="thumbnails">
                                    <li class="span3">
                                        <div class="product-box">
                                            <p><a href="product_detail.html"><img src="../themes/images/ladies/5.jpg" alt="" /></a></p>
                                            <a href="product_detail.html" class="title">Know exactly</a><br/>
                                            <a href="products.html" class="category">Quis nostrud</a>
                                            <p class="price">$22.30</p>
                                        </div>
                                    </li>
                                    <li class="span3">
                                        <div class="product-box">
                                            <p><a href="product_detail.html"><img src="../themes/images/ladies/6.jpg" alt="" /></a></p>
                                            <a href="product_detail.html" class="title">Ut wisi enim ad</a><br/>
                                            <a href="products.html" class="category">Commodo consequat</a>
                                            <p class="price">$40.25</p>
                                        </div>
                                    </li>
                                    <li class="span3">
                                        <div class="product-box">
                                            <p><a href="product_detail.html"><img src="../themes/images/ladies/7.jpg" alt="" /></a></p>
                                            <a href="product_detail.html" class="title">You think water</a><br/>
                                            <a href="products.html" class="category">World once</a>
                                            <p class="price">$10.45</p>
                                        </div>
                                    </li>
                                    <li class="span3">
                                        <div class="product-box">
                                            <p><a href="product_detail.html"><img src="../themes/images/ladies/8.jpg" alt="" /></a></p>
                                            <a href="product_detail.html" class="title">Quis nostrud exerci</a><br/>
                                            <a href="products.html" class="category">Quis nostrud</a>
                                            <p class="price">$35.50</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    <br />
    <br />
    <hr  width="100%" align="center" /> 
{{> featureBox}}
</section>
